
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 28px;
  font-weight: 500;
}

.item {
  color: #0e0e0e;
}

.item__green {
  color: #4CAF50;
}

.item__blue {
  color: #008CBA;
}

.item__red {
  color: #f44336;
}